<h2>Let them eat Cakes!</h2>

<% $cakes.each do |cake| %>
  <div class="items">
    <h1>
      <%=cake.name%>
    </h1>
    <img src="<%= cake.image %>">
    <p>
      $<%=cake.cost%>
      Dollars a slice.
    </p>
    <p>
      Calories:
      <%=cake.calories%>.
    </p>
    <p>
      <%=cake.description%>
    </p>
    <button onclick="addItem('<%=cake.name%>', '<%=cake.cost%>')">Add To Cart</button>
  </div>
<% end %>
