<h2>Muffins to die for!</h2>


<% $muffins.each do |muffin| %>
<div class="items">
  <h1> <%=muffin.name%> </h1>
  <img src="<%= muffin.image %>">
  <p> $<%=muffin.cost%> Dollars </p>
  <p> Calories: <%=muffin.calories%> </p>
  <p> <%=muffin.description%> </p>
  <button onclick="addItem('<%=muffin.name%>', '<%=muffin.cost%>')">Add To Cart</button>
 </div>
<% end %>
